.values {
  display: flex;
  flex-direction: column;
  align-items: center;
  // height: 55vh;
  width: 100vw;
  background-color: rgb(249, 249, 249);

  &-head {
    margin-top: 20px;
    font-size: 2.5rem;
  }
}

.values__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;

  &-img {
    height: 40px;
    width: 40px;
  }

  &-head {
    margin: 5px 0;
    font-size: 1.5em;
  }
}