.values {
  display: flex;
  flex-direction: column;
  align-items: center;
  // height: 55vh;
  width: 100vw;
  background-color: rgba(207, 207, 207, 0.5);

  &-head {
    margin-top: 20px;
  }
}

.values__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: red;
  margin: 20px;

  &-img {
    height: 40px;
    width: 40px;
  }

  &-head {
    margin: 5px 0;
  }
}
